* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: #ff9a4b;
    height: 50px;
}

main {
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

.container_box {
    display: block;
    text-align: center;
}

.container {
    position: relative;
    display: inline-block;
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    background-color: #eeeeee;
    
}

.container:last-child {
    margin-right: 0px;
}

.img1 {
    height: 150px;
    background-image: url(img/flow01.png);
    background-size: cover;
    background-position: bottom;
}

.img2 {
    height: 150px;
    background-image: url(img/flow02.png);
    background-size: cover;
    background-position: bottom;
}

.img3 {
    height: 150px;
    background-image: url(img/flow03.png);
    background-size: cover;
    background-position: bottom;
}

.step {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    background-color: #ff9a4b;
    color: aliceblue;
}

h3 {
    margin: 15px 0px 5px 0px;
    text-align: left;
}

.content {
    text-align: left;
}

footer {
    background-color: #aaaaaa;
    height: 50px;
}

@media screen and (max-width: 768px){
    .container_box {
        display: block;
    }
    .container {
        width: 90% ;
        margin-bottom:20px ;
        margin-right: 0;
    }

    .container:last-child {
        margin-bottom: 0;
}